* {
  padding: 0;
  margin: 0;
  border: 0px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: "Roboto";
  font-feature-settings: "clig" off, "liga" off;
}

:root {
  --colour-logo-primary: #37447e;
  --colour-opacity-000: #ffffff00;
  --colour-main-blue-400: #6f7cb2;
  --colour-main-blue-500: #505f98;
  --colour-main-blue-800: #111b47;
  --colour-main-blue-900: #091133;
  --colour-main-grey-600: #5d6970;
  --colour-secondary-white-100-general: #fff;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 163.12px;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-left: calc(165px - 163.12px);
}

.nav-con .menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 245px;
  height: 24px;
}

.nav-con a,
.logo a {
  text-decoration: none;
  font-style: normal;
}

.nav-con .menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--colour-main-blue-500);
}

.logo a {
  position: absolute;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
  color: var(--colour-logo-primary);
  top: 12px;
  left: 681px;
}

.nav-con button {
  width: 160px;
  height: 26px;
  border-radius: 2px;
  background: var(--colour-main-blue-800, #111b47);
  color: var(--colour-secondary-white-100-general);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-right: calc(165px - 163.12px);
}

.hero-sec,
.mobile-login-sec {
  height: calc(1110px - 60px);
}

.hero-img img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero-info {
  position: relative;
  width: 539.374px;
  height: 421px;
  flex-shrink: 0;
  top: calc(303px - 60px);
}

.mobile-login-sec {
  height: 742px;
  display: grid;
  align-items: center;
  margin-top: -1px;
}

.mobile-login-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-login-info {
  width: 539.374px;
}

.head {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 0.9px;
  color: var(--colour-main-blue-900);
}

.mobile-login-info .head {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1px;
  margin-left: 2px;
  letter-spacing: -0.1px;
}

.detail p {
  color: var(--colour-main-blue-500);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  letter-spacing: -0.1px;
}

.detail p:not(:first-child) {
  margin-top: 14px;
}

.hero-info button {
  width: 189px;
  height: 36px;
  margin-top: 69px;
  margin-right: 26px;
}

.hero-info button:nth-child(1) {
  border-radius: 2px;
  background: var(--colour-main-blue-800);
  color: var(--colour-secondary-white-100-general);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.hero-info button:nth-child(2) {
  border-radius: 2px;
  border: 2px solid var(--colour-main-blue-900);
  background: var(--colour-opacity-000);
  color: var(--colour-main-blue-900);
  text-align: center;
}

.mobile-login-info .detail p {
  color: var(--colour-main-blue-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  margin-top: 16px;
  margin-left: 2px;
}

.mobile-login-info .detail p:not(:first-child) {
  margin-top: 10.5px;
}

.mini-card {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}

.mini-card-item {
  width: 255px;
}

.mini-card-item img {
  padding: 2px;
}

.hero-info button:nth-child(2),
.mini-card-item .head {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.mini-card-item .head {
  margin-top: 8px;
  margin-left: 3px;
  letter-spacing: -0.3px;
}

.mini-card-item .detail {
  color: var(--colour-main-grey-600);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 6px;
  margin-left: 2px;
  letter-spacing: 0.25px;
}

.mobile-login-img {
  margin-right: 2px;
  margin-top: 2px;
}
