@import "resp-min-320.css";
@import "resp-min-1024.css";
@import "resp-min-1440.css";
/* @import "temp.css"; */

* {
  padding: 0;
  margin: 0;
  border: 0px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: "Roboto";
  font-feature-settings: "clig" off, "liga" off;
}

:root {
  --colour-logo-primary: #37447e;
  --colour-opacity-000: #ffffff00;
  --colour-main-blue-100: #e7ecff;
  --colour-main-blue-400: #6f7cb2;
  --colour-main-blue-500: #505f98;
  --colour-main-blue-800: #111b47;
  --colour-main-blue-900: #091133;
  --colour-main-grey-400: #939ea4;
  --colour-main-grey-600: #5d6970;
  --colour-secondary-white-100-general: #fff;
}

body {
  margin: 0 auto;
}

.container {
  margin: 0 11.3277778%;
  /* margin: 0 163.12px; */
}
